<ion-content class="ion-padding">
  <div
    style="
      justify-content: center;
      align-items: center;
      display: flex;
      height: 100%;
    "
  >
    <div>
      <h1>Login</h1>
      <ion-item>
        <ion-input
          label="Email input"
          type="email"
          placeholder="email@domain.com"
        ></ion-input>
      </ion-item>
      <nz-divider style="width: 100%" nzText="Or"></nz-divider>
      @for (method of showMethod; track $index) {
      <ion-button expand="block" (click)="login(method)">
        <nz-icon
          style="position: absolute; left: 0"
          [nzType]="method"
          nzTheme="outline"
        />
        {{method}}
      </ion-button>
      } @if (!loaded) {
      <nz-divider
        style="width: 100%"
        nzText="Load more"
        (click)="load()"
      ></nz-divider>
      }
    </div>
  </div>
</ion-content>
